<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sPersonaNatural</servlet-name>
        <servlet-class>ll.servlets.administracion.sPersonaNatural</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSocio</servlet-name>
        <servlet-class>ll.servlets.afiliaciones.sSocio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUsuario</servlet-name>
        <servlet-class>ll.servlets.administracion.sUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sPersonaJuridica</servlet-name>
        <servlet-class>ll.servlets.administracion.sPersonaJuridica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDatosCredito</servlet-name>
        <servlet-class>ll.servlets.creditos.sDatosCredito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEncuesta</servlet-name>
        <servlet-class>ll.servlets.riesgos.sEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sFactor</servlet-name>
        <servlet-class>ll.servlets.riesgos.sFactor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSubFactor</servlet-name>
        <servlet-class>ll.servlets.riesgos.sSubFactor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTiposRespuesta</servlet-name>
        <servlet-class>ll.servlets.riesgos.sTiposRespuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sProfesion</servlet-name>
        <servlet-class>ll.servlets.administracion.sProfesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sArea</servlet-name>
        <servlet-class>ll.servlets.administracion.sArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sOcupacion</servlet-name>
        <servlet-class>ll.servlets.administracion.sOcupacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUbigeo</servlet-name>
        <servlet-class>ll.servlets.administracion.sUbigeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sPais</servlet-name>
        <servlet-class>ll.servlets.administracion.sPais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDepartamento</servlet-name>
        <servlet-class>ll.servlets.administracion.sDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sProvincia</servlet-name>
        <servlet-class>ll.servlets.administracion.sProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDistrito</servlet-name>
        <servlet-class>ll.servlets.administracion.sDistrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sProductoCrediticio</servlet-name>
        <servlet-class>ll.servlets.creditos.sProductoCrediticio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sApoderadoPlanillaConvenio</servlet-name>
        <servlet-class>ll.servlets.administracion.sApoderadoPlanillaConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sIntegrantePlanillaConvenio</servlet-name>
        <servlet-class>ll.servlets.administracion.sIntegrantePlanillaConvenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sRepresentantesLegales</servlet-name>
        <servlet-class>ll.servlets.administracion.sRepresentantesLegales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSocioJuridico</servlet-name>
        <servlet-class>ll.servlets.afiliaciones.sSocioJuridico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sReingreso</servlet-name>
        <servlet-class>ll.servlets.administracion.sReingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sMiembroFamiliar</servlet-name>
        <servlet-class>ll.servlets.administracion.sMiembroFamiliar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sParentesco</servlet-name>
        <servlet-class>ll.servlets.administracion.sParentesco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sBeneficiario</servlet-name>
        <servlet-class>ll.servlets.administracion.sBeneficiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSocioNatural</servlet-name>
        <servlet-class>ll.servlets.afiliaciones.sSocioNatural</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sBitacora</servlet-name>
        <servlet-class>ll.servlets.administracion.sBitacora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAccesoOpexUsuario</servlet-name>
        <servlet-class>ll.servlets.agente.sAccesoOpexUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEstadoCuenta</servlet-name>
        <servlet-class>ll.servlets.creditos.sEstadoCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAreaSubFactor</servlet-name>
        <servlet-class>ll.servlets.riesgos.sAreaSubFactor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTipoServicio</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sTipoServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sCtaBanco</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sCtaBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sCheque</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sCheque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sBanco</servlet-name>
        <servlet-class>ll.servlets.administracion.sBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDocCompra</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sDocCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDocVenta</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sDocVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sNotaCredito</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sNotaCredito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sGuiaRemision</servlet-name>
        <servlet-class>ll.servlets.logistica.sGuiaRemision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sGuiaRemisionManual</servlet-name>
        <servlet-class>ll.servlets.logistica.sGuiaRemisionManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sPrincipal</servlet-name>
        <servlet-class>ll.servlets.sPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDownload</servlet-name>
        <servlet-class>ll.servlets.agente.sDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDownloadCDR</servlet-name>
        <servlet-class>ll.servlets.agente.sDownloadCDR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAnulacion</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sAnulacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sNotaDebito</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sNotaDebito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sOficina</servlet-name>
        <servlet-class>ll.servlets.administracion.sOficina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sPuesto</servlet-name>
        <servlet-class>ll.servlets.administracion.sPuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sCargo</servlet-name>
        <servlet-class>ll.servlets.rrhh.sCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sContrato</servlet-name>
        <servlet-class>ll.servlets.rrhh.sContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEmpleado</servlet-name>
        <servlet-class>ll.servlets.rrhh.sEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sHorario</servlet-name>
        <servlet-class>ll.servlets.rrhh.sHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSistemaPensiones</servlet-name>
        <servlet-class>ll.servlets.rrhh.sSistemaPensiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTipoEPS</servlet-name>
        <servlet-class>ll.servlets.rrhh.sTipoEPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTipoPlanEPS</servlet-name>
        <servlet-class>ll.servlets.rrhh.sTipoPlanEPS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sModalidadTraslado</servlet-name>
        <servlet-class>ll.servlets.logistica.sModalidadTraslado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sMotivoTraslado</servlet-name>
        <servlet-class>ll.servlets.logistica.sMotivoTraslado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUnidadMedida</servlet-name>
        <servlet-class>ll.servlets.logistica.sUnidadMedida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sPersona</servlet-name>
        <servlet-class>ll.servlets.administracion.sPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sMoneda</servlet-name>
        <servlet-class>ll.servlets.moneda.sMoneda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTipoCtaBanco</servlet-name>
        <servlet-class>ll.servlets.administracion.sTipoCtaBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTipoComprobantePago</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sTipoComprobantePago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sReciboCaja</servlet-name>
        <servlet-class>ll.servlets.administracion.sReciboCaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sMaeOperaciones</servlet-name>
        <servlet-class>ll.servlets.contabilidad.sMaeOperaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sPersonaNatural</servlet-name>
        <url-pattern>/sPersonaNatural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSocio</servlet-name>
        <url-pattern>/sSocio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUsuario</servlet-name>
        <url-pattern>/sUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDatosCredito</servlet-name>
        <url-pattern>/sDatosCredito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEncuesta</servlet-name>
        <url-pattern>/sEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sFactor</servlet-name>
        <url-pattern>/sFactor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSubFactor</servlet-name>
        <url-pattern>/sSubFactor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTiposRespuesta</servlet-name>
        <url-pattern>/sTiposRespuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sProfesion</servlet-name>
        <url-pattern>/sProfesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sArea</servlet-name>
        <url-pattern>/sArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sOcupacion</servlet-name>
        <url-pattern>/sOcupacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUbigeo</servlet-name>
        <url-pattern>/sUbigeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sPais</servlet-name>
        <url-pattern>/sPais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDepartamento</servlet-name>
        <url-pattern>/sDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sProvincia</servlet-name>
        <url-pattern>/sProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDistrito</servlet-name>
        <url-pattern>/sDistrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sProductoCrediticio</servlet-name>
        <url-pattern>/sProductoCrediticio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sApoderadoPlanillaConvenio</servlet-name>
        <url-pattern>/sApoderadoPlanillaConvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sIntegrantePlanillaConvenio</servlet-name>
        <url-pattern>/sIntegrantePlanillaConvenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sRepresentantesLegales</servlet-name>
        <url-pattern>/sRepresentantesLegales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSocioJuridico</servlet-name>
        <url-pattern>/sSocioJuridico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sPersonaJuridica</servlet-name>
        <url-pattern>/sPersonaJuridica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sReingreso</servlet-name>
        <url-pattern>/sReingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sMiembroFamiliar</servlet-name>
        <url-pattern>/sMiembroFamiliar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sParentesco</servlet-name>
        <url-pattern>/sParentesco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sBeneficiario</servlet-name>
        <url-pattern>/sBeneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSocioNatural</servlet-name>
        <url-pattern>/sSocioNatural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sBitacora</servlet-name>
        <url-pattern>/sBitacora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAccesoOpexUsuario</servlet-name>
        <url-pattern>/sAccesoOpexUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEstadoCuenta</servlet-name>
        <url-pattern>/sEstadoCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAreaSubFactor</servlet-name>
        <url-pattern>/sAreaSubFactor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTipoServicio</servlet-name>
        <url-pattern>/sTipoServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sCtaBanco</servlet-name>
        <url-pattern>/sCtaBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sCheque</servlet-name>
        <url-pattern>/sCheque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sBanco</servlet-name>
        <url-pattern>/sBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDocCompra</servlet-name>
        <url-pattern>/sDocCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDocVenta</servlet-name>
        <url-pattern>/sDocVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sNotaCredito</servlet-name>
        <url-pattern>/sNotaCredito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sGuiaRemision</servlet-name>
        <url-pattern>/sGuiaRemision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sGuiaRemisionManual</servlet-name>
        <url-pattern>/sGuiaRemisionManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sPrincipal</servlet-name>
        <url-pattern>/sPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDownload</servlet-name>
        <url-pattern>/sDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDownloadCDR</servlet-name>
        <url-pattern>/sDownloadCDR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAnulacion</servlet-name>
        <url-pattern>/sAnulacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sNotaDebito</servlet-name>
        <url-pattern>/sNotaDebito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sOficina</servlet-name>
        <url-pattern>/sOficina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sPuesto</servlet-name>
        <url-pattern>/sPuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sCargo</servlet-name>
        <url-pattern>/sCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sContrato</servlet-name>
        <url-pattern>/sContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEmpleado</servlet-name>
        <url-pattern>/sEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sHorario</servlet-name>
        <url-pattern>/sHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSistemaPensiones</servlet-name>
        <url-pattern>/sSistemaPensiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTipoEPS</servlet-name>
        <url-pattern>/sTipoEPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTipoPlanEPS</servlet-name>
        <url-pattern>/sTipoPlanEPS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sModalidadTraslado</servlet-name>
        <url-pattern>/sModalidadTraslado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sMotivoTraslado</servlet-name>
        <url-pattern>/sMotivoTraslado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUnidadMedida</servlet-name>
        <url-pattern>/sUnidadMedida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sPersona</servlet-name>
        <url-pattern>/sPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sMoneda</servlet-name>
        <url-pattern>/sMoneda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTipoCtaBanco</servlet-name>
        <url-pattern>/sTipoCtaBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTipoComprobantePago</servlet-name>
        <url-pattern>/sTipoComprobantePago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sReciboCaja</servlet-name>
        <url-pattern>/sReciboCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sMaeOperaciones</servlet-name>
        <url-pattern>/sMaeOperaciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>frmLogin.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
